*{
    padding: 0;
    margin: 0;
}

/* for mobile phone */
.wrapper{
    width: 100%;
}
.img-banner{
    display: none;
}

.img-info{
    width: 100%;
}
.img-info h2{
    padding: 30px 55px 20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:#111;
    line-height: 44px;
}
.img-info p{
    padding: 0px 55px 20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#111;
    line-height: 24px;
}
.img-main{
    width: 100%;
}

/* for tablets */
@media only screen and (min-width: 768px) {
    /*media is letting the code to run only if the statement afterwards is true*/
    .img-banner{
        display: block;
        width: 100%;
        padding-bottom: 20px;
    }
    .wrapper{
        width: 600px;
        margin: 0 auto;
    }
    .img-info h2{
        padding: 20px 0px 0px ;
       
    }
    .img-info p{
        padding: 20px 0px 0px ;
      
    }
    .img-main{
        padding-top: 30px;
    }
}

/* for computer */
@media only screen and (min-width: 1000px) {
    /*media is letting the code to run only if the statement afterwards is true*/
    .wrapper{
        width: 1000px;
        /* margin: 0 auto; */
        /* this will be already present in desktop-view */

    }
    .img-info{
        width: 50%;
        float: right;
    }
    .img-info h2{
        padding: 20px 0px 0px 30px;
       
    }
    .img-info p{
        padding: 20px 0px 0px 30px;
      
    }
    .img-main{
        width: 50%;
        float: left;
        padding-top: 20px;
       
    }

}




